/*===================o
|     DOMjects       |
o===================*/
body {
  background: #333;
  padding: 70px 0;
  font: 15px/20px Arial, sans-serif;
  min-height: 800px;
  min-width: 800px;
  position: relative;
}
/*===================o
|     Container      |
o===================*/

#seconds_container {
  width: 500px;
  margin: 0 auto;
}
#minutes_container {
  width: 500px;
  margin: 0 auto;
}
.vertS {
  width: 250px;
  height: 100px;
  position: relative;
  top: 200px;
  float: left;
  perspective: 1000px;
}
.vertSS {
  width: 250px;
  height: 100px;
  position: relative;
  top: 200px;
  float: left;
  perspective: 2000px;
}

/*===================o
|       Wheels       |
o===================*/

.six {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.ten {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.shapeS {
  display: block;
  position: absolute;
  background: #000;
  width: 150px;
  height: 100px;
  line-height: 100px;
  font-size: 3em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}
.shapeSS {
  display: block;
  position: absolute;
  background: #000;
  width: 150px;
  height: 100px;
  line-height: 100px;
  font-size: 3em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

/*===================o
|       6-Sides      |
o===================*/

.a {
  transform: rotateX(0deg) translateZ(90px);
  background: #ed1c24;
}
.b {
  transform: rotateX(60deg) translateZ(90px);
  background: #0072bc;
}
.c {
  transform: rotateX(120deg) translateZ(90px);
  background: #39b54a;
}
.d {
  transform: rotateX(180deg) translateZ(90px);
  background: #f26522;
}
.e {
  transform: rotateX(240deg) translateZ(90px);
  background: #630460;
} 
.f {
  transform: rotateX(300deg) translateZ(90px);
  background: #8c6239;
}

/*===================o
|      10-Sides      |
o===================*/
.g {
  transform: rotateX(0deg) translateZ(150px);
  background: #ed1c24;
}
.h {
  transform: rotateX(36deg) translateZ(150px);
  background: #0072bc;
}
.i {
  transform: rotateX(72deg) translateZ(150px);
  background: #39b54a;
}
.j {
  transform: rotateX(108deg) translateZ(150px);
  background: #f26522;
}
.k {
  transform: rotateX(144deg) translateZ(150px);
  background: #630460;
} 
.l {
  transform: rotateX(180deg) translateZ(150px);
  background: #8c6239;
}
.m {
  transform: rotateX(216deg) translateZ(150px);
  background: #8c6239;
}
.n {
  transform: rotateX(252deg) translateZ(150px);
  background: #8c6239;
}
.o {
  transform: rotateX(288deg) translateZ(150px);
  background: #8c6239;
}
.p {
  transform: rotateX(324deg) translateZ(150px);
  background: #8c6239;
}

/*===================o
|      BUTTONS!      |
o===================*/

.next, .prev {
  color: #444;
  position: fixed;
  bottom: 0;
  padding: 2em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  font-size: 3em;

  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  bottom: -5px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 0; }
.prev { left: 0; }

