/*==================o
|		CUBE 		|
o==================*/
#cube_ {
	position: absolute;
	top: 0px;
	left: 40%;
}
.cube_container {
	margin: 300px auto;
	width: 200px;
	height: 200px;
	position: relative;

	perspective: 300px;
}
#cube {
	width: 100%;
	height: 100%;
	position: absolute;

	font-size: 120px;
	text-align: center;
	color: #fff;
	
	transform-style: preserve-3d;

	transition: transform 1s;
}
#cube figure {
	width: 196px;
	height: 196px;
	display: block;
	position: absolute;
	border: 2px solid black;
}
/* 6 sides */
/* TRANSLATE Z: pushes sides out from center (all clustered together before */
#cube .front { transform: rotateY(	0deg 	) translateZ( 100px ); background-color: rgba(100,100,0,0.5);}
#cube .back { transform: rotateY(	180deg 	) translateZ( 100px ); background-color: rgba(0,100,100,0.5);}
#cube .right { transform: rotateY(	90deg 	) translateZ( 100px ); background-color: rgba(0,0,100,0.5);}
#cube .left { transform: rotateY(	-90deg 	) translateZ( 100px ); background-color: rgba(0,100,0,0.5);}
#cube .top { transform: rotateX(	90deg 	) translateZ( 100px ); background-color: rgba(100,0,100,0.5);}
#cube .bottom { transform: rotateX(	-90deg 	) translateZ( 100px ); background-color: rgba(100,100,100,0.5);}

#cube {
	transform:translateZ(-100px);
	/* 	Fixes distorted text by
		pressing object back 100px	*/
}


/* Use classes to call the cube rotation to a certain side */
#cube.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }


/* ===== cube buttons ===== */
.cube_button {
	position: fixed;
	bottom: 10px;
	z-index: 100;

	height: 100px;
	width: 50px;
}
#show1 {left: 0px;}
#show2 {left: 60px;}
#show3 {left: 120px;}
#show4 {left: 180px}
#show5 {left: 240px;}
#show6 {left: 300px;}









