@import url(../fonts/stylesheet.css);
/*
	quanticoregular
	quanticobold
*/

body {
	min-width: 300px;
	padding: 0;
	margin: 0;
	font-family: 'quanticoregular';	
}



#fixed_bg {
	position: fixed;
	background: url(../images/bg_cropped.jpg) center center;
	background-size:cover;
	width: 100%;
	min-width: 300px;
	height: 100%;
}


#content_container {
	position: absolute;
	top: 50%;
	width: 100%;
	min-height: 280px;
	

	background-color: rgba(0,0,0,0.8);
	border-top: 6px double #fff;
	border-bottom: 6px double #fff;
	margin: auto auto;
	text-shadow: 0px 2px #333;

	transition: all 0.5s ease;
}
#content {
	color: #fff;
}


#rest_name {
	display: block;
	margin: 10px auto;
	font-size: 50px;
	color: #fff;
	text-shadow: 0px 3px #000;
	text-decoration: none;
	text-align: center;
	line-height: 60px;
	letter-spacing: 0 !important;

}
#rest_addr {
	display: block;
	width: 270px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 3px;
	text-decoration: none;
	color: #fff;

	transition: all 0.4s ease;
}
#rest_addr:hover {
	font-size: 21px;
	letter-spacing: 4px;
	animation: hoverAddr 2s ease infinite;
}
#rest_phone {
	display: block;
	width: 270px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin: 5px auto 0;
	text-decoration: none;
	color: #fff;
}
#rest_phone:hover {
	font-size: 31px;
	letter-spacing: 1px;
	animation: hoverPhone 2s ease infinite;
	-webkit-animation-name: hoverPhone;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
@keyframes hoverPhone {
	0% {
		font-size: 30px;
		letter-spacing: 0;
	} 50% {
		font-size: 31px;
		letter-spacing: 1px;
	} 100% {
		font-size: 30px;
		letter-spacing: 0;
	}
}
@keyframes hoverAddr {
	0% {
		font-size: 20px;
		letter-spacing: 3px;
	} 50% {
		font-size: 21px;
		letter-spacing: 4px;
	} 100% {
		font-size: 20px;
		letter-spacing: 3px;
	}
}
/*======================o
|		EAT24 STUFF		|
o======================*/
.eat24b {margin: 10px auto; width: 289px;height: 59px;display: block;background: url(http://eat24hrs.com/buttons/images/v2/e24_order-sq_red289_btn.png) 0 0;}
.eat24b:hover { background-position: 0 -120px; }
.eat24b:active { background-position: 0 -240px; }
.eat24 {margin: 0 auto; width: 209px;height: 44px;display: block;background: url(http://eat24hrs.com/buttons/images/v2/e24_order-sq_red209_btn.png) 0 0;}
.eat24:hover { background-position: 0 -120px; }
.eat24:active { background-position: 0 -240px; }
.eat24s {margin: 0 auto; width: 142px;height: 34px;display: block;background: url(http://eat24hrs.com/buttons/images/v2/e24_order-sq_red142_btn.png) 0 0;}
.eat24s:hover { background-position: 0 -120px; }
.eat24s:active { background-position: 0 -240px; }


/*==========================o
|		VIEWPORT STUFF		|
o==========================*/

@media (max-width: 399px) {
	#content_container {
		top: 30%;
		height: 50%;
		min-width: 300px;
	}
	#rest_name {
		font-size: 30px;
	}
	#rest_addr {
		font-size: 20px;
	}

}
@media (min-width: 400px) and (max-width: 550px) {
	#content_container {
		top: 40%;
		height: 40%;
	}
	#rest_name {
		font-size: 40px;
	}
}
@media (min-width: 551px) and (max-width: 799px) {
	#content_container {
		top: 54%;
		height: 38%;
	}
}

@media (min-width: 800px) {
	#fixed_bg {
		background: url(../images/bg_cropped.jpg) top center;
		background-size: cover;
	}
	#content_container {
		top: 54%;
		height: 38%;
	}
}
@media (min-height: 1px) and (max-height: 350px) {
	#content_container {
		top: 0;
	}
}
@media (max-height: 635px) {
	#content_container {
		top: 20%;
		height: 60%;
	}
}

/* blackberry playbook, nexus 7 & 10, anything over 1000x600 */


