
/*==============o
|	DOMjects	|
o==============*/

ul {list-style-type: none;}
a {text-decoration: none; color: #fff; font-size: 30px;}

/*==============o
|	 Classes	|
o==============*/

.menu {
	position: fixed;
	top: 0;
	z-index: 100;
}
.menu_fixed {
	position: fixed;
	top: 100px;
	z-index: 100;

}

/*==============o
|	   IDs		|
o==============*/

#container {
	width: 800px;
	margin: 0 auto;
	padding: 0;

	position: relative;
}
#one, #two, #three {
	width: 100%;
	height: 100%;
	background-position: center center;
}
#one {background: url(../images/1.png);}
#two {background: url(../images/2.png);}
#three {background: url(../images/3.png);}

#four, #five, #six {
	width: 500px;
	height: 750px;
	
}
#four {background: url(../images/1.png);background-size: cover;}
#five {background: url(../images/2.png);background-size: cover;}
#six {background: url(../images/3.png);background-size: cover;}

#dice {
	background: url(../images/dice.png) no-repeat;
	background-size: cover;
	height: 100px; width: 100px;
	position: fixed;
	z-index: 5000;
	left: -150px;
}
